* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.right-section .icon {
    margin-right: 10px;
}
.flex {
    display: flex;
 }

#hero-section .text-section  {
    width: 45%;
}

#hero-section .image-section {
    width: 55%;  
}


#hero-section, #quote-section, process-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(../img/Header-Image.png);
    background-size: cover;
    background-position: center;
    height: 68vh;
}

.text-section h1 {
    font-size: 66px;
    margin-top: 80px;
    /* margin-bottom: 40px; */

}

.orange-btn {
    background: #ff6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin-top: 65px;
    border: 1px solid #ff6433;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.time-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-section .time-text {
    width: 95%;
}

.time-section img {
    width: 100%;
}

small {
    color: #939191;
}

#quote-section {
    background: #E2E6E9;
    min-height: 100vh;
    padding: 200px 0px;
}

#quote-section .left-section, #quote-section .right-form-section {
    width: 45%;

}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2  {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
   
}

#quote-section .left-section .image-box img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-section .left-section .text-box {
    width: 50%;
}

/* #quote-section .left-section .text-box p {
    width: 100%;
} */

#quote-section .left-section .text-box h5 {
    margin-bottom: 10px;
    font-size: 24px;
}

#quote-section .left-section .text-box p {
    font-size: 16px;
    color:#3d3030;
    opacity: 0.6;
}
#quote-section .left-section .text-box-2 a {
    display: flex;
    color: black;
    text-decoration: none;
    
}

#quote-section .left-section .text-box-2 a p {
    margin-right: 20px;
}

#quote-section .right-form-section h3 {
    font-size: 48px;
    margin-bottom: 35px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 2px;
    border: #fff;
    margin-bottom: 5px;
    outline: none;
    font-size: 18px;
}

process-section .left-side h2 {
    margin-bottom: 30px;
    font-size: 58px;
    font-weight: 800;
    margin-top: 60px;
    width: 80%;
}

process-section .left-side p {
    color:#7a7575;
}

process-section .left-side  {
    width: 55%;
    /* margin: auto; */
}

hr {
    display: none;
}

process-section .right-side {
    width: 40%;
    /* margin: auto; */
}

process-section .right-side .image-section {
    width: 12%;
    text-align: center;
    margin-right: 20px;
}

process-section .right-side .text-section {
    width: 70%;
}

process-section .right-side .image-section img {
    width: 100%;
}

process-section .right-side .image-section .line-box img {
    width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

process-section .right-side .text-section h4 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 17px;
    /* margin-left: 10px; */
    /* display: flex;
    align-items: center; */
   
}

process-section .right-side p {
    font-size: 18px;
    font-weight: 600px;
    color:#7a7575;
    width: 80%;
}

process-section .left-side .text-section p {
    font-size: 16px;
    font-weight: 600px;
    color:#7a7575;
    opacity: 0.6;
}

process-section .left-side p {
    width: 55%;
    
}

process-section .right-side .flet {
    margin-bottom: 50px;
}

process-section .right-side .flet p {
    border-left: 2px dotted red;
    /* padding-left: 50px; */
    margin-left: 38px;
    /* margin: 15px; */
}

/* .image-box {
    display: flex;
    width: 100%;
} */

/* .flet {
    border: 2px solid red;
} */

#offer-section {
    padding: 80px 0px;
    background: #E2E6E9;
    min-height: 100vh;
}

#offer-section h6, #offer-section h2 {
    text-align: center;
}

#offer-section h6 {
    font-size: 24px;
    font-weight: 600;
    color: #1E1B1B;
    padding: 15px;
}

#offer-section h2 {
    font-size: 58px;
    font-weight: 800;
    color: #1E1B1B;
    margin-bottom: 60px;
    /* width: 850px; */
}


#offer-section .offers .offer-box {
    background: #fff;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24%;
    margin-bottom: 12px;
    
}


#offer-section .offers p {
    font-size: 20px;
    font-weight: 600;
    color: #1E1B1B;
    padding-top: 10px;
}

#offer-section .offers {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 15px;
}

#offer-section .offers .offer-box:hover {
    background-color: #ff6433;
    color: #fff;
    /* transition-delay: 5ms; */
}
.learn-arrow a {
    display: flex;
    color:#1E1B1B;
    text-decoration: none;
}

.learn-arrow {
    display: flex;
    justify-content: flex-end;
}

.learn-arrow p {
    margin-right: 10px;
}

#tools-section {
    height: 500px;
    display: flex;

}

#tools-section .car-section {
    width: 20%;
    height: 500px;
    background: url(../img/car.png) no-repeat;
    background-size: cover;
    /* background-position: left; */
}

#tools-section .orange-section {
    width: 40%;
    background: #ff6433;
    height: 500px;
}

#tools-section .auto-section {
    width: 40%;
    height: 500px;
    background: url(../img/auto.png) no-repeat;
    background-size: cover;
    /* background-position: center; */
}

#tools-section .orange-section h2 {
    font-size: 48px;
    font-weight: 700n bold;
    padding: 85px 85px 0px 85px;
    color: #fff;
}

.black-btn {
    background:#1E1B1B;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin-top: 35px;
    margin-left: 83px;
    /* border: 1px solid #ff6433; */
}

#ratings-section  {
    background: #E2E6E9;
    padding-top: 30px;
    padding-bottom: 30px;
}


#ratings-section .flex {
    display: flex;
    justify-content: space-between;
}

#ratings-section .flex p {
    color: #7a7575;
    font-size: 22px;

}

#ratings-section .flex h2 {
    color: rgb(107, 8, 236);
    font-size: 54px;
    font-weight: 800;
    margin-top: -12px;
    padding: 0;
    /* border: 1px solid black; */
    margin-bottom: 7px;
}

#ratings-section .flex img {
    padding-bottom: 10px;
}

/* brands-section */

#brands-section h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#brands-section .image-b {
    width: 95%;
    margin: auto;
}

#brands-section img {
    width: 100%;
}

#Review {
    background-color: #F2F2F2;
    min-height: 95vh;
}

#Review .service {
    width: 50%;
    margin: auto;
}

#Review .service h2 {
    text-align: center;
    font-size: 48px;
    padding-top: 105px;
    padding-bottom: 80px;
}

#Review .Jonathan, .Johnson {
    background: #fff;
    width: 616px;
    height: 376px;
    padding: 80px;
}


#Review .container .flex {
    width: 85%;
    margin: auto;
    justify-content: space-between;
}

#Review p {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: justify;
    padding-top: 13px;
    color: #504a4a;
}

#Review h4 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #504a4a;
}

#Review .container .fleex {
    display: flex;
}

#Review .container .fleex img {
    margin-right: 15px;
}

#Review .container .fleex-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#Review .container .fleex-1 img {
    width: 10%;
    margin-top: 25px;
}

#Review .container .fleex-1 .snd {
    margin-left: 35%;
}

#faq {
    min-height: 100vh;
    background: #E2E6E9;
    margin: auto;
}

#faq h2 {
    text-align: center;
    /* height: 67px; */
    font-weight: 700;
    font-size: 48px;
    padding: 70px;
    
}

#faq .class {
    width: 60%;
    margin: auto;
    /* border: 2px solid red; */
}

#faq .first  {
    background: #fff;
    width: 796px;
    height: 220px;
    margin: auto;
    margin-bottom: 10px;
    padding: 35px;
}

#faq .second, .third, .fourth, .fifth {
    background: #fff;
    width: 796px;
    height: 105px;
    margin: auto;
    margin-bottom: 10px;
    padding: 35px;
}

#faq .class h4 {
    font-weight: 600;
    font-size: 24px
}

#faq .first-1, #faq .second, #faq .third, #faq .fourth, #faq .fifth {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#faq .class h3 {
    border: 3px solid #FF6433;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FF6433;
    text-align: center;
    color: #fff;
    font-size: 30px;
    /* margin-top: -15px; */
    width: 51.08px;
    height: 48px;
}

#faq .class .flex {
    justify-content: space-between;
}

#faq .first p {
    font-weight: 600;
    font-size: 15px;
    line-height: 175%;
    width: 85%;
    color: rgb(189, 181, 181);
}

#contact {
    background: #1E1B1B;
    /* min-height: 60vh; */
}

#contact .contain {
    width: 60%;
    margin: auto;
}

#contact .contain .left-side {
    width: 40%;
}

#contact .contain .right-side {
    width: 40%;
}

#contact .contain .flex {
    justify-content: space-between;
}

#contact .contain h3, #contact .contain small, #contact .contain p {
    color: #ffffff;
}

#contact .contain h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-top: 30%;
    margin-bottom: 10%;
    /* letter-spacing: -0.03em; */
}

#contact .contain p {
    font-weight: 600;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#contact .contain .left-side img {
    width: 30%;
}

#contact .contain .right-side ul {
    list-style: none;
    margin-top: 30%;
}

#contact .contain small {
    opacity: 60%;
    font-weight: 600;
    font-size: 16px;
    /* padding-bottom: 55px; */
}


.main-header-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px;
    background-color: rgb(26, 22, 22);
}

.right-section-2 {
    display: flex;
    align-items: center;
}

.right-section-2 ul {
    list-style: none;
    display: flex;
}

.right-section-2 ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
}


.main-header-2 .logo {
    margin-right: 100px;
    margin-left: 60px;
}




/* Services style section */

.justify-space {
    justify-content: space-between;
}
#services {
    margin-top: 80px;
}


#services .img-section {
    background: url(../img/Service-BG-1.png);
    background-size: cover;
    /* border: 2px solid black; */
    width: 70%;
    height: 60vh;
}

#services .txt-section {
    background: #1E1B1B;
    width: 70%;
    color: #fff;
    padding: 20px 20px ;
    height: 60vh;
}

#services .txt-section h2 {
    font-size: 64px;
    font-weight: 800;
}

#services .txt-section p {
    color: #F2F2F2;
    font-size: 18px;
    font-weight: 600;

}

#auto {
    background: #F5F5F5;
}

.snd-container {
    width: 90%;
    margin: auto;
    padding: 100px 0px;
}

#auto .img-section {
    width: 40%;
    background: #FFFFFF;
    padding: 50px 40px 40px 40px;
    margin-left: 20px;
    margin-right: 20px;
}

#auto .img-section .ato {
    width: 100%;
    height: 294px;
}

#auto .img-section h2 {
    font-weight: 700;
    font-size: 44px; 
    line-height: 140%;
    margin-top: 10px;
}

#auto .img-section .auto-diag-text p {
    font-weight: 600;
    /* font-size: 24px; */
    line-height: 30px;
    color: #232536;
    opacity: 0.6;
    margin-top: 10px;
}

#auto .img-section .learn-arrow p {
    color: #000;
    font-weight: 600;
}

#auto .img-section .learn-arrow {
    justify-content: flex-start;
    margin-top: 15px;
}



#auto .offers {
    /* padding: 100px 20px; */
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#auto .offers .offer-box {
    background: #FFFFFF;
    width: 47%;
    margin-bottom: 20px;

    /* height: 195px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#auto .offers .offer-box img {
    margin-bottom: 10px;
}

#auto .offers .offer-box:hover {
    background-color: #ff6433;
    color: #fff;
}

#process {
    padding-top: 100px;
    padding-bottom: 100px;
}

#process .left-process {
    width: 40%;
    padding: 0px 30px;
} 


#process .right-process {
    width: 47%;
}

#process .left-process h2 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 40px;
}


#process .left-process p {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
}

#process .left-process ul {
    list-style: none;
}

#process .left-process ul li {
    align-items: center;
    margin-bottom: 35px;
}

#process .left-process ul li img {
    margin-right: 15px;
    width: 5%;
}

#process .right-process .flex img {
    width: 95%;
}

#book-service {
    min-height: 95vh;
}

#book-service .left-book-service  {
    width: 50%;
    padding: 0px 70px;
}

#book-service .right-book-service {
    width: 40%;
    margin: 0 auto;
}

#book-service .left-book-service .img-box {
    width: 100%;
    /* height: 100vh; */
}

#book-service .left-book-service .first-img {
    width: 95%;
}

#book-service .left-book-service .scnd-img {
    width: 95%;
}
.justify-space2 {
    /* justify-content: flex-end; */
    margin: 0 auto;
}

#book-service .right-book-service h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 140%;
    width: 90%;
    margin-bottom: 25px;
}

#book-service .right-book-service p {
    font-weight: 600;
    font-size: 14px;
    line-height: 175%; 
    opacity: 0.6;
}


/* mobile view */

@media (max-width: 426px) {

    .container {
        width: 100%;
    }

    .main-header {
        flex-direction: column;
        align-items: flex-start;
        background-color: #E2E6E9;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation ul {
        flex-direction: column;
    }

    .right-section .navigation {
        border: none;
        width: 100%;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .right-section ul li a {
        display: block;
        /* margin-right: 0; */
    }

    .road-assistance {
        padding: 10px 0;
    }


    /* custom class */
    .flex-sm-column {
        flex-direction: column;
    }

    #hero-section {
        background: url(../img/BGImage.png);
        background-size: cover;
        background-position: center;
        /* opacity: 0.9; */
        /* width: 100%; */
       
    }

    
    #hero-section .image-section {
        display: none;
        width: 100%;
        /* order: 1; */
    }

    #hero-section .text-section {
        width: 100%;
        /* order: 2; */
        /* text-align: center; */
        

    }

    #hero-section .text-section h1 {
        font-size: 40px;
        margin-top: 0;
        padding-left: 15px;
        color: #fff;
    }

    #hero-section .text-section p {
        color: #ccc;
        width: 80%;
    }

    #hero-section .text-section .orange-btn {
        float: right;
        margin-top: 120px;
    }

    #quote-section {
        padding-top: 40px;
        padding-bottom: 40px;
        /* text-align: center; */
    }

    #quote-section .left-section, #quote-section .right-form-section{
        width: 100%;
        padding: 15px;
    }

    #quote-section .left-section ul {
        padding-left: 15px;
    }


    #quote-section .left-section h2 {
        font-size: 40px;
        /* padding-left: 15px; */
    }


    #quote-section .left-section .image-box  {
        width: 7%;
        /* padding-left: 15px; */
    }

    #quote-section .left-section .text-box {
        width: 90%;
    }

    #quote-section .right-form-section h3 {
        font-size: 30px;
        /* text-align: center; */
    }

    #quote-section .right-form-section .orange-btn {
        margin-top: 30px;
    }

    process-section .left-side, process-section .right-side {
        width: 90%;
        margin: auto;
    }

    hr {
        display: block;
        width: 70%;
        margin: auto;

    }

    
    process-section .left-side h2 {
        font-size: 40px;
        /* margin-top: 1px; */
    }

    process-section .right-side .text-section h4 {
        font-size: 20px;
        margin-top: 20px;
    }

    process-section .left-side .orange-btn {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    process-section .right-side {
        margin-top: 50px;
    }

    process-section .right-side .image-section {
        margin-top: 13px;
    }

    process-section .left-side p, process-section .right-side p {
        width: 100%;
        font-size: 15px;
    }

    #offer-section {
        padding: 40px 0px;
        /* background: #E2E6E9;
        min-height: 100vh; */
    }

    #offer-section h2 {
        font-size: 24px;
        width: 90%;
        margin: auto;
    }

    #offer-section h6 {
        font-size: 12px;
    }

    #offer-section .offers {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #offer-section .offers .offer-box {
        /* background: #fff; */
        height: 130px;
        width: 48%;
        margin-bottom: 12px;
    }

    #offer-section .offers .offer-box p {
        font-size: 15px;
    }

    #offer-section .offers .offer-box img {
        width: 25%;
    }

    #offer-section .offers .offer-box .ins {
        /* padding-top: 20px; */
        width: 20%;
    }

    #offer-section .learn-arrow {
        width: 85%;
        margin: auto;
        font-size: 13px;
        /* float: right; */
        /* margin-right: 15px; */
    }

    #offer-section .learn-arrow img {
        /* width: 30px; */
        display: none;
    }

    #tools-section .orange-section h2 {
        font-size: 22px;
        padding-left: 40px;
    }

    #tools-section .orange-section .black-btn {
        padding: 10px 20px;
        font-size: 12px;
        margin: auto;
        margin-left: 20px;
        margin-top: 20px;
    }

    #tools-section .car-section {
        background-position: center;
    } 

    #tools-section .auto-section {
        background-position: center;
    }


    #ratings-section {
        /* width: 100%; */
        border: 1px solid #000;
        padding: 15px 0px 10px 10px;
    }


    /* #ratings-section .flex {
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    } */

    #ratings-section .flex .twelve {
        margin-left: 20px;
    }

    #ratings-section .flex p {
        font-size: 9px;
    }

    #ratings-section .flex img {
        width: 50%;
        padding-bottom: 0px;
    }

    #brands-section {
        padding-bottom: 50px;
    }

    #brands-section h2 {
        font-size: 25px;
        margin-top: 60px;
        margin-bottom: 25px;
    }

    
    #Review .service {
        width: 80%;
       
        margin: auto;
    }

    #Review .service .flex {
        margin: auto;
    }

    #Review .service h2 {
       font-size: 30px;
       padding-top: 60px;
       padding-bottom: 30px;
    }

    #Review .Jonathan, #Review .Johnson {
        width: 90%;
        height: 300px;
        padding: 30px;
        margin: 10px auto;
    }

 
    #Review .container .fleex-1 img {
        margin-top: 10px;
    }

    #Review h4 {
        font-size: 14px;
        padding-bottom: 0;
    }

    #Review p {
        font-size: 12px;
    }

    #Review .container .fleex img {
        width: 70%;
        margin-right: 10px;
    }


    #faq {
        padding-bottom: 30px;
    }


    #faq .class { 
        width: 100%;
        margin: auto;
        /* margin-bottom: 30px; */
        /* border: 2px solid red; */
    } 

    #faq .class h4 {
        font-size: 16px;
    }

    #faq .class h3 {
        width: 10%;
        height: 40px;
        font-size: 20px;
        padding-right: 25px;
        padding-left: 12px;
    }

    #faq .first p {
        font-size: 12px;
    }


    #faq .first {
        /* background: #fff; */
        width: 100%;
        /* height: 220px; */
        /* margin: auto; */
        /* margin-bottom: 10px; */
        padding: 30px 15px;
    }
    
    #faq .second, .third, .fourth, .fifth {
        /* background: #fff; */
        width: 100%;
        /* height: 105px; */
        /* margin: auto; */
        margin-bottom: 10px;
        padding: 30px 15px;
    }

    #faq h2 {
        font-size: 40px;
        margin: auto;
        padding: 50px;
    }

    #faq .first p {
        width: 85%;
    }

    #contact .contain {
        width: 90%;
        margin: auto;
    }

    #contact .contain .left-side {
        width: 100%;
    }

    #contact .contain h3 {
        width: 100%;
        margin: auto;
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #contact .contain .left-side img {
        width: 45%;
    }

    #contact .contain .right-side {
        width: 100%;
        /* margin-top: 30px; */
    }

    #contact .contain small {
        font-size: 13px;
    }

    #contact .contain p {
        font-size: 16px;
    }
    #contact .contain .right-side ul {
        margin-top: 25px;
    }

    .main-header-2 {
        padding: 50px;
    }

    .right-section-2 ul li {
        font-size: 12px;
        /* flex-wrap: wrap; */
        /* margin-right: 0px; */
        /* margin-left: 30px; */
    }




    /* Services style section  @mobile*/

    #services {
        margin-top: 0%;
    }

    #services .img-section {
        width: 100%;  
    }

    #services .txt-section {
        width: 100%;
        padding: 70px;
    }

    #services .txt-section h2 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    #services .txt-section p {
        font-size: 14px;
    }

    #auto .img-section {
        width: 100%;
        margin: auto;
    }

    /* #auto .img-section h2 {
        font-size: 40px;
    } */

    #auto .offers {
        width: 100%;
        margin-top: 40px;
    }

    #auto .offers .offer-box {
        height: 195px;
    }

    #process .left-process, #process .right-process {
        width: 100%;
        padding: 50px;
        /* justify-content: flex-start; */
    }

    #process .right-process .flex img {
        width: 100%;
    }

    #process .left-process ul li img {
        width: 15%;
    }

    #process .left-process ul li {
        align-items: flex-start;
        /* margin-bottom: 35px; */
    }

    #book-service {
        min-height: 170vh;
    }

    #book-service .left-book-service {
        width: 100%;
        padding: 0px;
        /* height: 200px; */
    }

    #book-service .right-book-service {
        width: 100%;
        padding: 50px;
    }

    #book-service .right-book-service h2 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    
}








/* tablet view */

@media (min-width: 426px) and (max-width: 800px) {
    .container {
        width: 90%;
    }
    .justify {
        justify-content: space-between;
    }


    .road-assistance { 
        display: none;
    }

    /* .main-header {
        flex-direction: column;
        align-items: flex-start;
        background-color: #E2E6E9;
    /* } */

    #hero-section .flex {
        justify-content: space-between;
    }

    #hero-section .text-section, process-section .left-side {
        width: 50%;
    }

    process-section .right-side {
        width: 48%;
    }

    #hero-section .image-section {
        width: 50%;
    }

    #quote-section {
        padding: 100px 0;
    }

    #quote-section .flex {
        justify-content: space-between;
    }

    #quote-section .left-section .flex {
        justify-content: flex-start;
    }

    .text-section h1 {
        margin-top: 60px
    }

    .text-section h1, #quote-section .left-section h2, #quote-section .right-form-section h3, process-section .left-side h2 {
        font-size: 32px;
    }

    #quote-section .left-section, #quote-section .right-form-section {
        width: 48%;
    }
    

    #quote-section .left-section .image-box {
        width: 15%;
    }

    process-section .right-side .text-section {
        width: 85%;
    }

    #quote-section .left-section .text-box {
        width: 70%;
    }

    process-section .left-side h2 {
        width: 90%;
    }

    process-section .left-side p {
        width: 70%;
    }

    process-section .right-side .image-section {
        margin-right: 10px;
    }

    process-section .right-side .image-section {
        width: 15%;
    }

    process-section .right-side .text-section h4 {
        font-size: 22px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    process-section .right-side p {
        width: 100%;
    }

    #offer-section h6 {
        font-size: 18px;
    }

    #offer-section h2 {
        font-size: 35px;
    }

    #offer-section .offers .offer-box {
        height: 190px;
    }

    #offer-section .offers p {
        font-size: 16px;
        padding-top: 10px;
    }

    #offer-section .offers, .learn-arrow a {
        padding: 0px 20px;
    }

    #tools-section .orange-section h2 {
        font-size: 30px;
        padding-left: 40px;
    }

    #tools-section .orange-section .black-btn {
        padding: 10px 20px;
        font-size: 12px;
        margin: auto;
        margin-left: 40px;
        margin-top: 20px;
    }

    #ratings-section {
        /* width: 100%; */
        /* border: 1px solid #000; */
        padding: 15px 0px 15px 10px;
    }


    #ratings-section .flex .twelve {
        margin-left: 20px;
    }

    #ratings-section .flex p {
        font-size: 12px;
    }

    #ratings-section .flex img {
        width: 55%;
        padding-bottom: 5px;
    }

    #brands-section {
        padding-bottom: 50px;
    }

    #brands-section h2 {
        font-size: 25px;
        margin-top: 60px;
        margin-bottom: 25px;
    }

    #Review .container {
        width: 100%;
            
    }

    #Review .service {
        width: 70%;
        margin: auto;
    }

    
    #Review .service h2 {
       font-size: 30px;
       padding-top: 60px;
       padding-bottom: 30px;
    }

    #Review .Jonathan, #Review .Johnson {
        height: 300px;
        padding: 30px;
        margin: 10px;
    }

 
    #Review h4 {
        font-size: 14px;
        padding-bottom: 0;
    }

    #Review p {
        font-size: 12px;
    }

    #Review .container .fleex img {
        width: 70%;
        margin-right: 10px;
    }


    #faq {
        padding-bottom: 30px;
    }


    #faq .class { 
        width: 90%;
        margin: auto;
        /* margin-bottom: 30px; */
        /* border: 2px solid red; */
    } 

    #faq h2 {
        font-size: 35px;
        /* margin: auto; */
        text-align: start;
        padding: 40px;
    }

    #faq .class h4 {
        font-size: 20px;
    }

    #faq .class h3 {
        width: 5%;
        height: 40px;
        font-size: 22px;
        text-align: center;
        /* padding-right: 25px;
        padding-left: 12px; */
        padding: 20px;
    }

    #faq .first p {
        font-size: 14px;
    }


    #faq .first {
        width: 100%;
        height: 200px;
        /* margin: auto; */
        /* margin-bottom: 10px; */
        padding: 20px 15px;
    }
    
    #faq .second, .third, .fourth, .fifth {
        width: 100%;
        /* height: 105px; */
        /* margin: auto; */
        margin-bottom: 10px;
        padding: 20px 15px;
    }

  
    #faq .first p {
        width: 85%;
    }

    #contact .contain {
        width: 90%;
        margin: auto;
    }

    #contact .contain .left-side {
        width: 45%;
    }

    #contact .contain h3 {
        width: 100%;
        margin: auto;
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #contact .contain .left-side img {
        width: 45%;
    }

    #contact .contain .right-side {
        width: 45%;
        /* margin-top: 30px; */
    }

    #contact .contain small {
        font-size: 13px;
    }

    #contact .contain p {
        font-size: 16px;
    }


    #contact .contain .right-side ul {
        margin-top: 25px;
    }

    .main-header-2 {
        padding: 50px;
    }

    .main-header-2 .logo {
        margin-left: 0;
        margin-right: 55px;
    }

    .right-section-2 ul li {
        font-size: 12px;
        flex-wrap: wrap;
    }





    /* Services style section  @tablet*/

    #services {
        margin-top: 0%;
    }

    #services .img-section {
        width: 100%;  
        height: 600px;
    }

    #services .txt-section {
        width: 100%;
        padding: 70px;
    }

    #services .txt-section h2 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    #services .txt-section p {
        font-size: 14px;
    }

    #auto .img-section {
        width: 100%;
        /* margin: auto; */
        padding-bottom: 20px;
    }

   
    #auto .offers {
        width: 100%;
    }

    
    #auto .img-section .learn-arrow {
        margin-top: 25px;
    }

    #offer-section .offers, .learn-arrow a {
        padding: 0;
    }

    #process .container {
        width: 100%;
    }

    #process .left-process {
        width: 100%;
        margin-top: 50px;
    }

    #process .right-process {
        width: 100%;
    }
    

    #process .right-process .flex  {
        flex-direction: column;
    }

    #process .right-process .flex img {
        width: 100%;
        height: 370px;
    }

    #process .left-process ul li img {
        width: 15%;
    }

    #process .left-process ul li {
        align-items: flex-start;
        /* margin-bottom: 35px; */
    }

    #book-service {
        min-height: 170vh;
    }

    #book-service .container {
        width: 100%;
    }

    #book-service .flex {
        flex-direction: column;
    }

    #book-service .left-book-service .flex {
        flex-direction: row;
        /* margin: 0 auto; */
        /* justify-content: space-around; */
    }

    #book-service .left-book-service {
        width: 100%;
        padding: 0px;
        /* height: 200px; */
    }

    /* #book-service .left-book-service img {
        width: 50%;
        padding: 0;
    } */

    #book-service .left-book-service .first-img, #book-service .left-book-service .scnd-img {
        width: 384px;
    }

    #book-service .right-book-service {
        width: 90%;
        padding: 50px;
    }

    #book-service .right-book-service h2 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 15px;
    }